// based css:
// https://github.com/shimmerproject/Greybird/blob/master/gtk-3.0/_xfce.scss

/**************
 * Xfce4 Apps *
 **************/
.XfceHeading {
  background-color: $base;
}


/***************
 * xfce4-panel *
 ***************/
.xfce4-panel.background {
  border: none; // Sadly the border is hard-coded
  background-color: $panel;
  color: on($panel, secondary);
  font-weight: 500;

  button {
    // @extend %flat_button;
    @extend %button_selected.flat;

    min-height: 16px;
    min-width: 16px;
    padding: 0;
    border-radius: 0;

    &:checked { background-color: on($panel, divider); }
  }

  .tasklist button {
    border-image: image(transparent) 0 0 2 / 0 0 2px;

    &:checked { border-image: image(currentColor) 0 0 2 / 0 0 2px; }

    image { padding: 4px; }
  }

  // &.horizontal .tasklist button { margin: 0 1px; }

  // &.vertical .tasklist button { margin: 1px 0; }
}

// Workspace switcher provided by libwnck
wnck-pager {
  &:hover { background-color: on($panel, divider); }

  &:active { background-color: on($panel, track); }

  &:selected { background-color: $primary; }
}

XfdesktopIconView.view {
  border-radius: $corner-radius;
  background-color: transparent;
  color: on(dark);
  text-shadow: $shadow-1;

  // XfdesktopIconView uses :active instead of :selected for selection
  &:active {
    @extend %selected_items;

    box-shadow: none;
  }

  // .label { text-shadow: $shadow-1; }

  .rubberband {
    @extend rubberband;

    border-radius: 0;
  }
}

#XfceNotifyWindow {
  buttonbox { padding: 0; }

  button {
  }

  label#summary { font-weight: bold; }

  progressbar {
    progress {
    }

    trough {
    }
  }
}

// Xfwm4's alt-tab dialog, aka "tabwin"
#xfwm-tabwin {
  padding: 12px;
  border-radius: $corner-radius;

  // Set the application icon- and preview-size to 64px
  -XfwmTabwinWidget-icon-size: 64px;
  -XfwmTabwinWidget-preview-size: 64px;

  button {
  }
}


/**********
 * Thunar *
 **********/
.thunar {
  #location-toolbar { border-bottom: 1px solid $border; }

  .standard-view.frame { border-style: none; }

  .sidebar .view:not(:selected) { background-color: transparent; }

  statusbar {
    margin: 0 -10px;
    padding: 0 4px;
    border-top: 1px solid $border;
  }
}
